<div class="footer-qism">

        <div class="container">
            <div class="row">
                <div class="col-md-6 py-5">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Maktab haqida 2</h5>
    
                            <ul class="mt-4">
                                <li><a href="./Yangiliklar.html">Yangiliklar</a></li>
                                <li><a href="./gallareya.html">Gallareya</a></li>
                                <li><a href="./Rahbariyat.html">Rahbariyat</a></li>
                                <li><a href="O'qtuvchilar.html">O'qtuvchilar</a></li>
                                <li><a href="./aloqa.html">Aloqa uchun</a></li>
                            </ul>
    
                        </div>
    
                        <div class="col-md-6">
                            <h5>Foydali havolalar</h5>
    
                            <ul class="mt-4">
                                <li><a href="https://president.uz">Prezident veb-sayti</a></li>
                                <li><a href="https://gov.uz">Hukumat portali</a></li>
                                <li><a href="https://uzedu.uz">Xalq ta'lim vazirligi</a></li>
                            </ul>
    
                        </div>
                    </div>
                </div>

                <div class="col-md-2">

                </div>
    
                <div class="col-md-4 py-5">
    
                    <h5 class="mb-4">Qo'llab-quvvatlash</h5>
    
                    <a href="./aloqa.html" class=""> Qo'llab-quvvatlovchi bilan aloqa </a>
    
                    <a href="./Yangiliklar.html" class="ft-btn">Maktab haqida</a>
                 </div>
            </div>
        </div>
    </div>

    <div class="footer2-qism py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="https://t.me/T_Shohruh_Coder">Dasturchi <strong>Shohruh Tulavoyev</strong></a><br>    
                </div>
                <div class="col-md-4 text-center ">
                    &copy; 2023 20-maktab
                </div>
            </div>
        </div>
    </div>