<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>20-Maktab</title>
    <link rel="stylesheet" href="{{'assets/css/style.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/all.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/bootstrap.css'|theme}}">
    {# <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous"> #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <meta name="author" content="20-Maktab / Bo'stonliq" />
    <meta name="description" content="Bo'stonliq tumani 20-maktabining hususiy veb-sayti!" />
    <meta name="keywords" content="20-maktab, 20chi maktab, 20 maktab, Bo'stonliq tumani 20 maktab, Bo'stonliq 20 maktab, Bo'stonliq 20-maktab, Bo'stonliq" />
</head>