<nav>
        <div class="container">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="nav-h1 text-center py-2">20-MAKTAB</h2>
                </div>        

                <div class="col-md-9">
                    <ul class="nav-ul text-center">
                        <li><a class="faol" href="{{'/'}}">ASOSIY</a></li>
                        <li><a href="{{'/yangiliklar'}}">YANGILIKLAR</a></li>
                        <li><a href="Rahbariyat.html">RAHBARIYAT</a></li>
                        <li><a href="O'qtuvchilar.html">O'qtuvchilar</a></li>
                        <li><a href="gallareya.html">GALLAREYA</a></li>
                        <li><a href="aloqa.html">ALOQA</a></li>
                    </ul>
                    
                </div>
                
            </div>
            
        </div>
        
    </nav>